includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    reportUnmatchedIgnoredErrors: false
